<!DOCTYPE html>
<html ng-app='locinator'>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <script src='/vendor/angular/angular.min.js'></script>
    <script src='/vendor/angularjs-geolocation/dist/angularjs-geolocation.min.js'></script>
    <script src='/javascripts/controller/locinator.js'></script>
  </head>
  <body>
    <div ng-init='setLibraries(<%= libraries %>)'>

    </div>
  </body>
</html>
