<!DOCTYPE html>
<html ng-app='locinator'>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <script src='/vendor/angular/angular.min.js'></script>
    <script src='/vendor/angular-route/angular-route.min.js'></script>
    <script src='/vendor/angularjs-geolocation/dist/angularjs-geolocation.min.js'></script>
    <script src='/javascripts/locinator.js'></script>
  </head>
  <body>
    <div ng-controller='loc' ng-init='setLocations(<%=locations%>)'>
test
    </div>
  </body>
</html>
